*, *::before, *::after{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

$speed: 10s;
$wordcount: 7;

.morphing{
    position: relative;
    font-size: 50px;
    background-color: black;
    color: white;
    min-height: 100vh;
    filter: contrast(25) blur(0px);
}

.word{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: word $speed infinite ease-in-out;
}

@for $i from 0 to $wordcount {
    &:nth-child(#{$i + 1}){
        animation-delay: ($speed / ($wordcount + 1) * $i) - $wordcount;
    }
}

@keyframes word{
    0%, 5%, 100%{
        filter: blur(0px);
        opacity: 1;
    }
    20%, 80%{
        filter: blur(1em);
        opacity: 0;
    }
}