
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html{
    font-size: 62.5%;
}
.main-div{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.center-div{
    width: 15rem;
    height: 15rem;
    position: relative;
    /* background-color: white; */
}
.rot{
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-right: 0.4rem solid darkblue;
    border-radius: 50%;
    animation: rot 2s linear infinite;
}
@keyframes rot {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}